body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

small {
  margin-left: 0.7em;
}

.title {
  font-size: 0.9em;
  text-transform: uppercase;
  color: gray;
  position: relative;
}

.subtitle {
  color: black;
  position: relative;
  font-size: 1.2em;
}

.text {
  padding-top: 10px;
}

.mp3 {
  position: relative;
  width: 500px;
  height: 150px;
  float: left;
}

.picture {
  float: left;
  margin: 10px 10px 10px 10px;
}

.download-button {
  position: absolute;
  bottom: 67px;
  left: 150px;
}

.drag {
  position: absolute;
  bottom: 10px;
  left: 150px;
  height: 50px;
  width: 194px;
  background-color: #eeeeee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
  line-height: 47px;
}

.drag-active {
  border: solid black 1px;
}

.drag-inactive {
  border: solid white 1px;
}