@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);

body {
  font-family: Ubuntu, Helvetica, Arial;
}

small {
  margin-left: 0.7em;
}

.title {
  font-size: 0.9em;
  text-transform: uppercase;
  color: gray;
}

.subtitle {
  color: black;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.text {
  padding-top: 10px;
}

.mp3 {
  width: 500px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.picture {
  float: left;
  width: 120px;
  height: 120px;
  margin: 10px 10px 10px 10px;
}

.download-link {
  text-transform: lowercase;
}
.download-link i {
  margin: 3px 4px 0 0;
}

.drag {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  height: 80px;
  display: none;
  padding-left: 10px;
  padding-top: 30px;
  padding-right: 70px;
  padding-bottom: 0px;
  margin-left: -18px;
  color: #444;
}

.drag-active {
  border-top: dashed #555 2px;
  background: #ddd;
}

.drag-inactive {
  border-top: dashed #999 2px;
  background: #eee;
}

.ready {
  background: #A8FFB4;
}

.search-results {
  padding-top: 5px;
}

.instructions-modal-body {
  text-align: center;
}
