.title {
    color: black;
    position: relative;
  	font-size: 25px;
  	line-height: 30px;
}

.subtitle {
    color: black;
    position: relative;
  	font-size: 20px;
  	line-height: 30px;
}

.text {
	padding-top: 10px;
}

.artist {
    position: relative;
    color: gray;
}

.mp3 {
    position: relative;
    width: 800px;
    margin: 10px 10px 10px 10px;
}

/*.container {
	width: 500px;
}*/

.picture {
    float: left;
    margin: 10px 10px 10px 10px;
}